

.email{
  text-decoration: none;
  color:#006fd7;
}

.footer {
      background-color:#001529;  
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
   
      
  }

  .help-and-support {
    margin:20px;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .content {
    color:#006fd7;
    display: inline;
  }
  .footer .quick-link {
    margin:20px;
    grid-column-start: 3;
    grid-column-end: 4;
  }
 